<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Angular directives - workshop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=792, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <link rel="stylesheet" href="bower_components/shower-ribbon/styles/screen.css">
    
    <!--
            To apply styles to the certain slides
            set slide ID to get needed elements
        -->
        <style>
        .slide {
            background: #fff;
        }
        .slide:after {
            display: none;
        }
        .slide p {
            margin: 0;
        }
        .slide > div {
            padding: 40px 70px 0;

        }
        .slide h2 {
            margin: 0 0 20px;
        }
        .slide .left {
           display: block;
           float: left;
           margin-right: 5px;
           width: 375px;
       }

       #First h2 {
        margin:65px 0 0;
        text-align:center;
        font-size:70px;
    }
    #First p {
        margin:10px 0 0;
        text-align:center;
        font-style:italic;
        font-size:20px;
    }
    #First img.center {
        margin-top: 150px;
    }

    img.center {
        display: block;
        margin-left: auto; margin-right:
        auto;
    }
    img.sidebyside {
        width: 15em;
        vertical-align: top;
    }

    p.source {
        margin-top: 58%;
        margin-left: 10%;
        font-size: 12px;
    }
    table.padded tr > td:first-child {
        padding-right: 10px;
        text-align: right;
    }
    .demo {
        border: #000 solid medium;
    }
    div.syntaxhighlighter {
        /*margin: 0 !important;*/
        font-size: 0.8em !important;
    }
    /*Reset Safari User Agent Styles*/
    ul {-webkit-padding-start: 0px !important;}

    .slide ol, .slide ul {
     margin-bottom: 15px;
 }
 /* Mark text color: */
 ::selection {
     background:#FFAAFF;
     /*color:#000;*/
 }

 </style>
</head>
<body class="list">
    <header class="caption">
        <h1>Angularjs-directives workshop</h1>

        <p>By Ingvild Indrebø and Tine Kleivane</p>
    </header>
    <section class="slide cover" id="Cover">
        <div>
            <h2>Angularjs-directives workshop</h2>

            <p>Brought to you by <a href="">Ingvild Indrebø</a> and <a href="">Tine Kleivane</a></p>
        </div>
    </section>

    <section class="slide shout">
        <div>
            <h2><code><mark>directive</mark></code></h2>
        </div>
    </section>
    <section class="slide">
        <div>
            <!-- Forklare hva direktiver faktisk er og hvorfor det er en sentral del av Angular kan nok være lurt. -->
            <p>Direktiver er vanskelige å forklare.</p>
        </div>
    </section> 
    <section class="slide">
        <div>
            <p><span style="text-decoration: line-through;">Direktiver</span>HTML-elementer er vanskelige å forklare.</p>
            
            <pre class="brush: js">

                <a href="https://www.google.com/">Søk</a>
                
                <span>Innhold</span>
                
                <div class="content">Innhold</div>
                
                <h2>Overskrift</h2>
            </pre>
        </div>
    </section> 
    <section class="slide">
        <div>
            <ul>
                <li>Direktiver er en funksjon som kan utrette det du klarer å programmere, så en definisjon er vanskelig.</li>
                <li>Funksjonen til er direktiv kjøres når Angular-kompilatoren finner direktivet referert i DOMen.</li>
                <li>De bestemmer selv hvordan direktive skal refereres, slik som html</li>
            </ul>
        </section> 
        <section class="slide">
            <div>
                Hva gjør direktivet?

                <ul>
                    <li>Utvider HTML til noe mer sematisk med mulighet for tilpasning til domenet</li>
                    <li>Unngår repetisjon</li>
                </ul>

            </section> 
            <section class="slide">
                <div>
                    Direktiver i praksis

                    <ul>
                        <li>Er foretrukne måte å få tak i DOM-elementer på i Angular</li>
                        <li>Gir mulighet til å binde brukerevents, click, submit osv. </li>
                        <li>Skrive ut data</li>
                    </ul>

                </section> 
                <section class="slide">
                    <div>
                        <h2>Built in directives</h2>
                        <pre class="brush: html">
                            <input type="text" ng-model="name">
                            <div ng-show="name == 'bekk'">
                                Til vanlig er jeg usynlig
                            </div>
                        </pre>
                        <iframe class="demo" src="demos/ng-directives.html" style="position: relative;"></iframe>
                    </div>
                </section>

                <section class="slide">
                    <div>
                        <h2>Built in directives</h2>

                        <ul style=" width: 50%; float: left;">
                            <li class="next">ngApp</li>
                            <li class="next">ngModel</li>
                            <li class="next">ngController</li>
                            <li class="next">ngClick</li>
                            <li class="next">ngChange</li>
                            <li class="next">ngBlur</li>
                        </ul> 
                        <ul>
                            <li class="next">ngFocus</li>
                            <li class="next">ngClass</li>
                            <li class="next">ngStyle</li>
                            <li class="next">ngRepeat</li>
                            <li class="next">...</li>
                        </ul>
                    </div>
                </section>
                <section class="slide">
                    <div>
                        <h2>Built in directives</h2>

                        <p>*Vise et eksempel av ett av de innebygde direktivene?* </p>
                    </div>
                </section>

                <section class="slide">
                    <div>
                        <h2>Egne direktiver</h2>

                        <ul>
                            <li>er ikke skumlere enn de innebygde, du bruker dem hele tiden!</li>
                        </ul>
                    </div>
                </section>

                <section class="slide">
                      <div>
                         <h2>Egne direktiver</h2>

                            <pre class="brush: js">
                            myApp.directive('myDirective', function(dep1, dep2) {
                              return {
                                /**
                                *
                                *
                                *
                                *
                                * API
                                *
                                *
                                *
                                *
                                **/
                              }
                            });
                            </pre>

                             <pre class="brush: html">
                                <my-directive></my-directive>
                            </pre>
                      </div>
                   </section>

                   <section class="slide">
                      <div>
                         <h2>Egne direktiver - navngivning</h2>

                         <p>ng-prefikset er reservert til bruk i Angular</p>

                             <pre class="brush: js">
                            myApp.directive('ngTextArea', function(dep1, dep2) {
                              return {
                                /** API **/
                              }
                            });
                            </pre>

                            Vi prefikser gjerne med firma/domene etc

                            <pre class="brush: js">
                            myApp.directive('gjeInformasjonstekst', function(dep1, dep2) {
                              return {
                                /** API **/
                              }
                            });
                            </pre>

                            <pre class="brush: js">
                            myApp.directive('navFormSection', function(dep1, dep2) {
                              return {
                                /** API **/
                              }
                            });
                            </pre>
                      </div>
                   </section>

                   <section class="slide">
                      <div>
                         <h2>Egne direktiver - casing</h2>

                            <p>Camel case blir til train-case</p>

                             <pre class="brush: js">
                            myApp.directive('ngTextArea', function(dep1, dep2) { //.....

                            <ng-text-area></ng-text-area>

                            </pre>


                            <pre class="brush: js">
                            myApp.directive('gjeInformasjonstekst', function(dep1, dep2) { /..

                            <gje-informasjonstekst></gje-informasjonstekst>

                            </pre>
                            
                            <pre class="brush: js">
                            myApp.directive('navFormSection', function(dep1, dep2) { //..

                            <nav-form-section></nav-form-section>
                            </pre>
                      </div>
                   </section>

                <section class="slide">
                  <div>
                     <h2>Directive API</h2>
                        <pre class="brush: js">
                        myApp.directive('myDirective', function(dep1, dep2) {
                          return {
                            replace: true,
                            restrict: 'EACM',
                            priority: 10,
                            templateUrl: 'directive.html',
                            template: '<div></div>',
                            scope: { localName:'@' },
                            controller: function($scope, $element, $attrs, $transclude, dep1) {},
                            compile: function compile(tElement, tAttrs, transclude) {
                            },
                            link: function postLink(scope, iElement, iAttrs) {
                              scope.$watch('name', function(newVal, oldVal) {..}
                            }
                          }
                        });
                        </pre>
                  </div>
               </section>


                <section class="slide shout">
                    <div>
                        <h2><code><mark>$scope</mark></code></h2>
                    </div>
                </section>

                <section class="slide code">
                    <div>
                        <h2> What are scopes? </h2>
                        <ul>
                            <li>Objects - refers to the application model
                                <ul><li>Controller  -&gt; <code><mark>$scope</mark></code> &lt;- View </li></ul></li>
                                <br/>
                                <li>Execution context for expressions
                                    <ul>
                                        <li><code>1+2={{1+2}}</code> -> 1+2=3</li>
                                        <li><code>{{username}}</code></li>
                                    </ul>
                                </li>
                            </ul>

             <!-- 
            Scopes provide context against which expressions are evaluated. For example {{username}} expression is meaningless, unless it is evaluated against a specific scope which defines the username property.
        -->
    </div>
</section>
<section class="slide code">
    <div>
        <h2> What are scopes? </h2>
        <ul>
            <li>Propagate events</li>
            <li>Watch expressions:</li>
        </ul>
        <pre class="brush: js">
            scope.counter = 0;
            scope.$watch('name', function(viewValue) {
            scope.counter++;
        });
    </pre>
</div>
</section>
<section class="slide">
    <div>
        <h2> What are scopes? </h2>
        <ul>
            <li>
                Hierarchical structure which mimic the DOM structure
            </li>
        </ul>
        <img src="img/battarang2.png" style="width: 70%;" class="center" alt="">
    </div>
</section>
<section class="slide">
    <div>
        <h2> What are scopes? </h2>
        <ul>
            <li>
                Hierarchical structure which mimic the DOM structure
            </li>
        </ul>
        <img src="img/battarang.png" style="width: 70%;" class="center" alt="">
    </div>
</section>
<section class="slide">
    <div>
        <h2> What are scopes? </h2>
        <ul>
            <li>
                Hierarchical structure which mimic the DOM structure
            </li>
        </ul>
        <img src="img/battarang1.png" style ="width: 70%;" class="center" alt="">
    </div>
</section>

<section class="slide shout">
    <div>
        <h2><code>$rootScope</code></h2>
    </div>
</section>

<section class="slide">
    <div>
        <h2>Prototypal inheritance</h2>
        <ul>
            <li><code>$rootScope</code>
                <ul><li>...
                    <ul>
                        <li><code>$parent</code>
                            <ul><li><code>$scope</code></li></ul>
                        </li>
                    </ul>
                </li></ul>
            </li>
        </ul>
        <img src="img/prototypal-inheritance.png" class="center" alt="">
    </div>
</section>

<section class="slide">
    <div>
        <h2>Prototypal inheritance - <code> directives </code></h2>
        <table>
            <tr>
                <th scope="row">scope: false</th>
                <td>no scope or inheritance</td>
            </tr>
            <tr>
                <th scope="row">scope: true</th>
                <td>new child scope + prototypical inheritence</td>
            </tr>
            <tr>
                <th scope="row">scope: { ... }</th>
                <td>new isolated scope</td>
            </tr>
        </table>
    </div>
</section>
<section class="slide">
    <div>
        <h2>Prototypal inheritance - ngModel</h2>
        <p>Kan skrive om:</p>
        <p>Having a '.' in your models will ensure that prototypal inheritance is in play. So, use
        </p>
        <pre class="brush: html">
            <input type="text" ng-model="someObj.prop1"> 
            rather than 
            <input type="text" ng-model="prop1">
        </pre>

    </div>
</section>
<section class="slide">
    <div>
        <h2>Isolated Scope</h2>
        <h3>scope: { ... }</h3>
        <ul>
          <table>

            <tr>
                <th scope="row">@</th>
                <td>One way binding (string)</td>
            </tr>
            <tr>
                <th scope="row">=</th>
                <td>Two way binding (model)</td>
            </tr>
            <tr>
                <th scope="row">&</th>
                <td>Parent scope expressions binding (functions)</td>
            </tr>
        </table>
    </ul>   
</div>
</section>
<section class="slide code">
    <div>
        <h2>Isolated Scope</h2>
        <pre class="brush: html">
            <input type="text" ng-model="to" />
            
            <div mydirective ng-model="to" on-send="sendMail()"
            from-name="ingvild.indrebo@bekk.no"></div>
        </pre>
        <pre class="brush: js">
            scope: {
            ngModel: '=',  // Bind the ngModel to the object given
            onSend: '&',   // Pass a reference to the method 
            fromName: '@'  // Store the string associated by fromName
        }
    </pre>
    <iframe class="demo" src="demos/scope-example.html" style="position: relative;"></iframe>

</div>
</section>
<!-- $watch-->
<section class="slide code">
    <div>
        <h2><code><mark>$watch </mark></code></h2>
        <p>$watch(watchExpression, [listener], [objectEquality]); </p>

        <pre class="brush: js">
            scope.$watch('name', function(newValue, oldValue) {
            scope.counter++;
        });
    </pre>
    <pre class="brush: js">
        scope.$watch(function() { //Listener function
        return food;

    }, function(newValue, oldValue) { // Change handler
    if(newValue !== oldValue) {
    scope.foodCounter++;
}
});

</pre>
            <!-- listener blir bare kalt når verdien endrer seg, function(newValue, oldValue)
        -->
    </div>
</section>
<section class="slide">
    <div>
        <h2>$watch list</h2>
        <pre class="brush: html"> {{ username }}</pre>
        <pre class="brush: html"> <input type="text" ng-model="name"></pre>
        <pre class="brush: html">
            <li ng-repeat="country in countries">
                {{ country.name }} + {{country.code}}
            </li>
        </pre>
    </div>
</section>

<section class="slide">
    <div>
        <h2> Transclude</h2>
        <pre class="brush: js"> 
         .directive('myDirective', function() {
            return {
              restrict: 'E',
              transclude: true,
              scope: {},
              templateUrl: 'mytemplate.html',
              link: function (scope, element) {
                
              }
            };
          });
        </pre>
    </div>
</section>
<section class="slide">
    <div>
        <h2> Transclude</h2>
        <img src="img/transclude-true.png" style="width: 70%;" class="center" alt="">
        <!--  http://www.angularjshub.com/examples/customdirectives/transclusion/ -->
    </div>
</section>
<section class="slide">
    <div>
        <h2> Transclude</h2>
        Skal vi si noe om transclude: element? 5. parameteren på link-funksjonen. Brukes for å hente transcluded-elementet
    </div>
</section>
<!--  build:YEOMAN-GENERATOR-PLACEHOLDER -->
<!--
    The line above is used by shower generator to insert slides. Please don't remove.
-->
<p class="badge"><a href="https://github.com/shower/shower">Fork me on Github</a></p>

<!--
    To hide progress bar from entire presentation
    just remove “progress” element.
-->
<div class="progress">
    <div></div>
</div>

<script src="bower_components/shower-core/shower.min.js"></script>
<!-- Copyright © 2013 Ingvild Indrebø -->


<!-- Include required JS files -->
<script type="text/javascript" src="js/shCore.js"></script>


    <!--
        At least one brush, here we choose JS. You need to include a brush for every
        language you want to highlight
    -->
    <script type="text/javascript" src="js/shBrushJScript.js"></script>
    <script type="text/javascript" src="js/shBrushXml.js"></script>
    <script type="text/javascript" src="js/shBrushCss.js"></script>


    <!-- Include *at least* the core style and default theme -->
    <link href="css/shCore.css" rel="stylesheet" type="text/css" />
    <link href="css/shThemeDefault.css" rel="stylesheet" type="text/css" />

    <!-- Finally, to actually run the highlighter, you need to include this JS on your page -->
    <script type="text/javascript">
    SyntaxHighlighter.defaults.toolbar = false;
    SyntaxHighlighter.all();
    </script>
</body>
</html>